## Hiconcept server settings

## set server web port
port: 9994

## set to true if use HTTPs connection
https: true
## ssl certification files in /config/ssl/
sslCrt: server.crt
sslKey: server.key

## MongoDB information
dbUrl: localhost # MongoDB URL
dbName: hiconcept # Database name

