## hiconcept.yml File Example
## create 'hiconcept.yml' file using this file.

## Hiconcept server settings

## set hiconcept server port
port: 80

## set to true if use HTTPs connection
https: false        # true or false

## ssl certification files in /config/ssl/
sslCrt: server.crt
sslKey: server.key

## MongoDB information
dbUrl: localhost    # MongoDB URL
dbName: hiconcept   # Database name
