## initial.yml File Example
## create 'initial.yml' file using this file.
## for security, initial.yml file will be deleted automatically after initialization.

## setting HiConcept system administrator ID
adminUser: admin
adminPass: p@s$w0rd

## setting MongoDB user ID (if not, set it as 'null')
mongoUser: null
mongoPass: null
